<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Practice_009.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C2BFCF2B05614210D0D0635B4C8650400FE2E544</string>
				<key>dateExpires</key>
				<string>2022/5/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C2BFCF2B05614210D0D0635B4C8650400FE2E544</string>
						<key>dateExpires</key>
						<string>2022/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A8N9BY8Z9M</string>
						<key>name</key>
						<string>FeiPei Lai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C2BFCF2B05614210D0D0635B4C8650400FE2E544</string>
						<key>dateExpires</key>
						<string>2022/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A8N9BY8Z9M</string>
						<key>name</key>
						<string>FeiPei Lai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C2BFCF2B05614210D0D0635B4C8650400FE2E544</string>
						<key>dateExpires</key>
						<string>2022/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A8N9BY8Z9M</string>
						<key>name</key>
						<string>FeiPei Lai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C2BFCF2B05614210D0D0635B4C8650400FE2E544</string>
						<key>dateExpires</key>
						<string>2022/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A8N9BY8Z9M</string>
						<key>name</key>
						<string>FeiPei Lai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C2BFCF2B05614210D0D0635B4C8650400FE2E544</string>
						<key>dateExpires</key>
						<string>2022/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A8N9BY8Z9M</string>
						<key>name</key>
						<string>FeiPei Lai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C2BFCF2B05614210D0D0635B4C8650400FE2E544</string>
						<key>dateExpires</key>
						<string>2022/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A8N9BY8Z9M</string>
						<key>name</key>
						<string>FeiPei Lai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C2BFCF2B05614210D0D0635B4C8650400FE2E544</string>
						<key>dateExpires</key>
						<string>2022/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A8N9BY8Z9M</string>
						<key>name</key>
						<string>FeiPei Lai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C2BFCF2B05614210D0D0635B4C8650400FE2E544</string>
						<key>dateExpires</key>
						<string>2022/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A8N9BY8Z9M</string>
						<key>name</key>
						<string>FeiPei Lai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C2BFCF2B05614210D0D0635B4C8650400FE2E544</string>
						<key>dateExpires</key>
						<string>2022/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A8N9BY8Z9M</string>
						<key>name</key>
						<string>FeiPei Lai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C2BFCF2B05614210D0D0635B4C8650400FE2E544</string>
						<key>dateExpires</key>
						<string>2022/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A8N9BY8Z9M</string>
						<key>name</key>
						<string>FeiPei Lai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C2BFCF2B05614210D0D0635B4C8650400FE2E544</string>
						<key>dateExpires</key>
						<string>2022/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A8N9BY8Z9M</string>
						<key>name</key>
						<string>FeiPei Lai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C2BFCF2B05614210D0D0635B4C8650400FE2E544</string>
						<key>dateExpires</key>
						<string>2022/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A8N9BY8Z9M</string>
						<key>name</key>
						<string>FeiPei Lai</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>A8N9BY8Z9M.com.COPD.test</string>
				<key>com.apple.developer.team-identifier</key>
				<string>A8N9BY8Z9M</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Practice_009.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>27457201-5e52-491b-b170-3f23f77c486e</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.COPD.test</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>A8N9BY8Z9M</string>
				<key>name</key>
				<string>FeiPei Lai</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
