<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>471309189512-m204fe1l6jl4eqstglfrm57nr3n2lpdm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471309189512-m204fe1l6jl4eqstglfrm57nr3n2lpdm</string>
	<key>API_KEY</key>
	<string>AIzaSyA7WJ7XSHbtFd1BirIWCyR4ooki2QzoR-c</string>
	<key>GCM_SENDER_ID</key>
	<string>471309189512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.COPD.test</string>
	<key>PROJECT_ID</key>
	<string>copd-app-f1533</string>
	<key>STORAGE_BUCKET</key>
	<string>copd-app-f1533.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471309189512:ios:f81af45576078135ddba3d</string>
</dict>
</plist>